@model IEnumerable<EmployeeRegistrationCF.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h1 style="text-align:center;color:pink"><b><u>Employee Data</u></b></h1>

<p>
    @Html.ActionLink("New Employee", "Create","Employee", new { @class = "btn btn-info" })
</p>
<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>            
            @Html.DisplayNameFor(model => model.Hobbies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </th>

        <th></th>
    </tr>

@foreach (var emp in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => emp.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => emp.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => emp.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => emp.City)
        </td>
        <td>
            @if (string.IsNullOrEmpty(emp.Hobbies))
            {
                <label>Have No Hobbies</label>
            }
            else
            {
               @Html.DisplayFor(modelItem => emp.Hobbies)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => emp.Department.DepartmentName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = emp.Id }) |
            @Html.ActionLink("Details", "Details", new { id = emp.Id }) |
            @*@Html.ActionLink("Delete", "Delete","", new { id = emp.Id ,@class="btn btn-danger"})*@
            <a href="/Employee/Deleted?Id=@emp.Id" onclick="return confirm('do you want to delete this record !!')" class="btn btn-sm btn-danger"> Deleted</a>
        </td>
    </tr>
}

</table>
